.page-item{
    border: none !important;
    cursor: pointer;
    border-radius: 15px;
}

.page-item .page-option-icon{
    background-color: var( --cultured-2 );
    color: var( --purple );
}

.page-item .page-image{
    border-radius: 100%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: 20px 0px;
    background-color: var(--cultured);
}

.page-item .page-image::after{
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: var(--purple);
    z-index: 10;
}

.page-item .page-image img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.7;
    z-index: 5;
}

.page-item .page-image i{
    position: absolute;
    font-size: 40px;
    color: var( --light-gray );
}

.page-item .page-item-title{
    font-size: 0.8em;
    color: var(--onyx);
    font-family: ubuntu;
    margin: 0px;
    text-transform: uppercase;
    color: var(--purple);
}

.page-item .page-item-slogan{
    font-size: 0.7em;
    margin-bottom: 20px;
    font-family: ubuntu;
    margin-top: 0px;
    color: var(--davys-grey);
    text-transform: uppercase;
}