@font-face {
    font-family: ubuntu;
    src: url( '../assets/fonts/Ubuntu-Light.ttf' );
}

@font-face {
    font-family: plento;
    src: url( '../assets/fonts/PLENTO.ttf' );
}

@font-face {
    font-family: north;
    src: url( '../assets/fonts/NorthZone.otf' );
}

:root{
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --sonic-silver: #6c757dff;
    --davys-grey: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    --purple: /*#7400b8ff*/#000000;
    --french-violet: /*#6930c3ff*/#111111;
    --slate-blue: #5e60ceff;
    --united-nations-blue: #5390d9ff;
    --carolina-blue: #4ea8deff;
    --cyan-process: #48bfe3ff;
    --sky-blue-crayola: #56cfe1ff;
    --medium-turquoise: #64dfdfff;
    --turquoise: #72efddff;
    --aquamarine: #80ffdbff;
    --gradient: linear-gradient( 100deg, var( --purple ), var( --french-violet ) );
    --gradient-2: linear-gradient( 70deg, var( --purple ), var( --slate-blue ) );
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
  
::-webkit-scrollbar-track {
    background: #EEEEEE;
}
  
::-webkit-scrollbar-thumb {
    background-color: var( --eerie-black );
    opacity: 0.65;
    transition-duration: 0.1s;
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}

*{
    font-family: ubuntu;
    position: relative;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

.d-flex{
    display: flex;
    display: flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.d-none{
    display: none;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.flex-column{
    flex-direction: column;
}

.flex-column-reverse{
    flex-direction: column-reverse;
}

.flex-row{
    flex-direction: row;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.text-gradient{
    background-image: -webkit-linear-gradient( 120deg, var( --eerie-black ), var( --cultured ) ), 
        linear-gradient( 120deg, var( --eerie-black ), var( --cultured ) );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.text-break{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


@media screen and ( min-width: 576px ) {
    .d-sm-flex{
        display: flex;
        display: flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
    }

    .justify-content-sm-center{
        justify-content: center;
    }
    
    .justify-content-sm-start{
        justify-content: flex-start;
    }
    
    .justify-content-sm-end{
        justify-content: flex-end;
    }
    
    .justify-content-sm-between{
        justify-content: space-between;
    }
    
    .align-items-sm-center{
        align-items: center;
    }
    
    .align-items-sm-start{
        align-items: flex-start;
    }
    
    .align-items-sm-end{
        align-items: flex-end;
    }
    
    .flex-sm-column{
        flex-direction: column;
    }
    
    .flex-sm-column-reverse{
        flex-direction: column-reverse;
    }
    
    .flex-sm-row{
        flex-direction: row;
    }
    
    .flex-sm-row-reverse{
        flex-direction: row-reverse;
    }
}

@media screen and ( min-width: 768px ) {
    .justify-content-md-center{
        justify-content: center;
    }
    
    .justify-content-md-start{
        justify-content: flex-start;
    }
    
    .justify-content-md-end{
        justify-content: flex-end;
    }
    
    .justify-content-md-between{
        justify-content: space-between;
    }
    
    .align-items-md-center{
        align-items: center;
    }
    
    .align-items-md-start{
        align-items: flex-start;
    }
    
    .align-items-md-end{
        align-items: flex-end;
    }
    
    .flex-md-column{
        flex-direction: column;
    }
    
    .flex-md-column-reverse{
        flex-direction: column-reverse;
    }
    
    .flex-md-row{
        flex-direction: row;
    }
    
    .flex-md-row-reverse{
        flex-direction: row-reverse;
    }
}


@media screen and ( min-width: 992px ) {
    .justify-content-lg-center{
        justify-content: center;
    }
    
    .justify-content-lg-start{
        justify-content: flex-start;
    }
    
    .justify-content-lg-end{
        justify-content: flex-end;
    }
    
    .justify-content-lg-between{
        justify-content: space-between;
    }
    
    .align-items-lg-center{
        align-items: center;
    }
    
    .align-items-lg-start{
        align-items: flex-start;
    }
    
    .align-items-lg-end{
        align-items: flex-end;
    }
    
    .flex-lg-column{
        flex-direction: column;
    }
    
    .flex-lg-column-reverse{
        flex-direction: column-reverse;
    }
    
    .flex-lg-row{
        flex-direction: row;
    }
    
    .flex-lg-row-reverse{
        flex-direction: row-reverse;
    }
}


@media screen and ( min-width: 1200px ) {
    .justify-content-xl-center{
        justify-content: center;
    }
    
    .justify-content-xl-start{
        justify-content: flex-start;
    }
    
    .justify-content-xl-end{
        justify-content: flex-end;
    }
    
    .justify-content-xl-between{
        justify-content: space-between;
    }
    
    .align-items-xl-center{
        align-items: center;
    }
    
    .align-items-xl-start{
        align-items: flex-start;
    }
    
    .align-items-xl-end{
        align-items: flex-end;
    }
    
    .flex-xl-column{
        flex-direction: column;
    }
    
    .flex-xl-column-reverse{
        flex-direction: column-reverse;
    }
    
    .flex-xl-row{
        flex-direction: row;
    }
    
    .flex-xl-row-reverse{
        flex-direction: row-reverse;
    }
}